{% extends 'blog/base.html' %}

{% block title %}

    搜索
{% endblock %}

{% block content %}
    {% if query %}
        <h1>包含 {{ query }} 的文章</h1>
        <h3>
            {% with results.count as total_results %}
                找到 {{ total_results }} 结果
            {% endwith %}
        </h3>
        {% for post in results %}
            <h4>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h4>
            {{ post.body|truncatewords:5 }}
        {% empty %}
            <p>您的查询没有结果</p>
        {% endfor %}
        <p><a href="{% url 'blog:post_search' %}">再次搜索</a></p>
    {% else %}
        <h1>搜索文章</h1>
        <form action="" method="get">
            {{ form.as_p }}
            <input type="submit" value="搜索">
        </form>
    {% endif %}
{% endblock %}