{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <span class="logo">书签</span>
    {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == 'ddashboard' %} class="selected"{% endif %}>
                <a href="{% url 'dashboard' %}">我的仪表盘</a>
            </li>
            <li {% if section == 'images' %} class="selected"{% endif %}>
                <a href="#">Images</a>
            </li>
            <li {% if section == 'people' %} class="selected"{% endif %}>
                <a href="#">People</a>
            </li>
        </ul>
    {% endif %}
    <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},{{ request.user.username }},<a href="{% url 'logout'%}">退出登录</a>
            {% else %}
            <a href="{% url 'login' %}">登录</a>
        {% endif %}
    </span>
</div>

<div id="content">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>